@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: #f9f9f9;
}

html {
    font-size: 62.5%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4693c0;
    border-radius: 2px;
}

::placeholder {
    color: #2d2d2d;
    opacity: 0.8; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #2d2d2d;
    opacity: 0.8; /* Firefox */
}

a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
}

img {
    display: block;
}

.header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1030;
    background: #4693c0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

main {
    min-height: 883px;
    margin-top: 50px;
}

main .sidebar {
    background: #f4f4f4;
    min-height: 1213px;
    position: fixed;
    top: 50px;
}

main .sidebar div {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 883px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d2d2d;
    font-size: 2rem;
}

main .container-layout {
    background-color: #f9f9f9;
    margin-left: 220px;
    min-height: 100%;
    display: block;
}

.container-layout .dashboard {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 15px 15px 10px 20px;
    font-size: 2.2rem;
}

.container-layout .main-content {
    padding: 20px 15px;
    background: #f9f9f9;
    overflow: auto;
    font-size: 1.5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.main-content .content-preview {
    background: rgba(45, 45, 45, 0.3);
    grid-column: span 3 / span 3;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 12px;
    height: calc(100vh - 150px);
    overflow: auto;
}

.main-content .content-preview .content-container {
    background: white;
    height: max-content;
    transition: all ease 500ms;
    width: 100%;
}

.content-preview .content-container .content-header {
    display: flex;
    align-items: center;
    /*background: #093ab2;*/
    background: #fff;
}

.content-preview .content-container .content-header .header-layout {
    display: grid;
    color: white;
    padding: 0 12px;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 53px;
}

.content-preview .content-container .content-header .header-layout > div {
    grid-column: span 1 / span 1;
    height: 100%;
    color: black;
}
.content-preview .content-container .content-header .header-layout > div:first-child {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
}

.content-preview .content-container .content-header .header-layout > div:nth-child(2) {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.content-preview .content-container .content-header .header-layout > div:nth-child(2) h2 {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.content-preview .content-container .content-header .header-layout > div:last-child {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.content-preview .content-container .content-header .header-layout > div:not(.header-e-profile-name) h2 {
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Lora', serif;
    /*text-decoration: underline;*/
}
.content-preview .content-container .content-header .header-layout > div:not(.header-e-profile-name) h2 a {
    color: black;
}
.content-container .content-slider-image {
    width: 100%;
    height: 100%;
    background: white;
}

.content-container .content-slider-image .slider-banner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content-container .content-slider-image .slider-banner-container .slider-box .swiper-slide {

}

.content-container .content-slider-image .slider-banner-container .slider-box img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
}

.content-container .content-slider-image .slider-banner-container .slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 300ms;
}

.content-container .content-slider-image .slider-banner-container .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 12px;
}

.content-container .content-slider-image .slider-banner-container .swiper-button-prev,
.content-container .content-slider-image .slider-banner-container .swiper-button-next {
    background: rgba(45, 45, 45, 0.4);
    padding: 20px;
    height: 64px;
    width: 40px;
    border-radius: 4px;
}
.content-container .content-slider-image .slider-banner-container .swiper-button-prev {
    transform: translateX(-150%);
    transition: all ease 300ms;
}
.content-container .content-slider-image .slider-banner-container .swiper-button-next {
    transform: translateX(150%);
    transition: all ease 500ms;
}
.content-container .content-slider-image .slider-banner-container:hover .swiper-button-prev,
.content-container .content-slider-image .slider-banner-container:hover .swiper-button-next {
    transform: translateX(0);
}

.content-container .content-slider-image .slider-banner-container .swiper-button-prev::after,
.content-container .content-slider-image .slider-banner-container .swiper-button-next::after {
    color: white;
    font-size: 32px;
}

.content-container .content-sapo {
    padding: 3rem 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.content-container .content-sapo .sapo-detail {
    font-style: italic;
    padding: 14px 18px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    position: relative;
}

/*.content-container .content-sapo .sapo-detail::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 6px;*/
/*    background: rgba(45, 45, 45, 0.8);*/
/*    height: 100%;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

.content-container .content-sapo .sapo-detail .sapo-text {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.8;
}

.content-container .content-sapo .sapo-detail .sapo-quote {
    font-size: 32px;
    color: rgba(45, 45, 45, 0.8);
}

.content-container .content-title {
    margin-top: 4rem;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.content-container .content-title .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #2d2d2d;
}

.content-container .content-box {
    margin-top: 2rem;
    background: white;
}

.content-container .content-box .content-partner-information {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 18px;
}

.content-container .content-box .content-partner-information .partner-introduce {
    grid-column: span 3 / span 3;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 14px 18px;
}

.content-container .content-box .about-us {
    font-size: 20px;
    margin-bottom: 12px;
    font-family: 'Lora', serif;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.content-container .content-box .about-us::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 60%;
    height: 2px;
    background: #2d2d2d;
    opacity: 0.7;
}

.content-container .content-box .content-partner-information .partner-introduce .introduce {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lora', serif;
    line-height: 24px;
}

.content-container .content-box .content-partner-information .partner-information {
    grid-column: span 2 / span 2;
    padding: 14px 18px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.content-container .content-box .content-partner-information .partner-information ul li {
    font-weight: 400;
    margin-bottom: 8px;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 24px;
}

.content-container .content-box .content-partner-information .partner-information ul li .title {
    font-weight: 600;
    margin-right: 4px;
}

.content-container .content-box .content-description {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 14px 18px;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.content-container .content-box .content-description .description {
    font-weight: 400;
    line-height: 24px;
}

.content-container .content-box .content-video {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 18px;
}

.content-container .content-box .content-video .description {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 14px 18px;
    font-family: 'Lora', serif;
    font-size: 16px;
    grid-column: span 3 / span 3;
    line-height: 24px;
}

.content-container .content-box .content-video .description i {
    font-size: 22px;
}

.content-container .content-box .content-video .video {
    grid-column: span 2 / span 2;
}

.content-container .content-box .content-video .video iframe {
    display: block;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.content-container .content-box .content-product-layout {
    padding: 14px 18px;
}

.content-box .content-product-layout .content-product-container {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 0 -18px;
    padding: 4rem 0;
}
.content-box .content-product-layout .content-product-container .slider-pagination {
    bottom: 0;
}
.content-box .content-product-layout .content-product-container .slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #2d2d2d;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 300ms;
}

.content-box .content-product-layout .content-product-container .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 12px;
}
.content-box .content-product-layout .content-product-container .product-card {
    cursor: pointer;
    grid-column: span 1 / span 1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border: 1px solid rgba(45, 45, 45, 0.5);
}

.content-product-container .product-card .product-image {
    width: 100%;
    height: 300px;
}

.content-product-container .product-card .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-product-container .product-card .product-description {
    padding: 14px 18px;
}

.content-product-container .product-card .product-description .product-name {
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
}

.content-product-container .product-card .product-description .product-introduce {
    font-family: 'Lora', serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.content-box .partner-contact-container {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 14px 18px;
    font-family: 'Lora', serif;
    font-size: 16px;
    display: grid;
    gap: 32px;
    margin-top: 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    z-index: 1;
}

.content-box .partner-contact-container:before {
    content: "";
    opacity: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../image/color-bg.png) no-repeat;
    background-size: cover;
}

.content-box .partner-contact-container .partner-address-map {
    grid-column: span 1 / span 1;
}

.content-box .partner-contact-container .partner-form {
    grid-column: span 1 / span 1;
}

.content-box .partner-contact-container .partner-form form {
    margin-top: 2rem;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.content-box .partner-contact-container .partner-form form label {
    grid-column: span 1 / span 1;
}

.content-box .partner-contact-container .partner-form form label input,
.content-box .partner-contact-container .partner-form form label textarea {
    width: 100%;
    padding: 12px 16px;
    outline: none;
    font-size: 14px;
    transition: all ease 500ms;
    border-radius: 4px;
    font-family: 'Lora', serif;
    color: #2d2d2d;
    border: 1px solid rgba(45, 45, 45, 0.1);
}

.content-box .partner-contact-container .partner-form form label input:hover, .content-box .partner-contact-container .partner-form form label input:active, .content-box .partner-contact-container .partner-form form label input:focus, .content-box .partner-contact-container .partner-form form label textarea:hover, .content-box .partner-contact-container .partner-form form label textarea:active, .content-box .partner-contact-container .partner-form form label textarea:focus {
    box-shadow: 6px 6px 0 rgba(45, 45, 45, 0.8);
    transform: translate(-6px, -6px);
}

.content-box .partner-contact-container .partner-form form label textarea {
    resize: none;
    height: 200px;
}

.content-box .content-social-medial-container {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.content-box .content-social-medial-container .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: black;
}
.content-box .content-social-medial-container .social-link svg {

}

/*  SETTING CONTAINER   */
.content-setting {
    grid-column: span 2 / span 2;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 12px;
    height: calc(100vh - 150px);
    overflow: auto;
}

.content-setting .setting-container .setting-preview-layout {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 32px;
}
.content-setting .setting-container .setting-preview-layout .button-layout {
    background: rgba(45, 45, 45, 0.1);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.content-setting .setting-container .setting-preview-layout .button-layout:hover .description-btn {
    visibility: visible;
    opacity: 1;
}
.setting-container .setting-preview-layout .button-layout .description-btn {
    position: absolute;
    background: #f4f4f4cc;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;;
    padding: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    color: #050505;
    transition: ease 500ms;
    border-radius: 8px;
    font-weight: 400;
    font-family: inherit;
    line-height: 1.2308;
}